body {
	background-color: #E3FFFF;
	margin: 0;
	word-wrap: break-word;
	font-size: 16px;
}

.header {
	background-color: #555;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 32px;
	text-align: right;
	z-index: 1;
}

.header a {
	position: relative;
	right: 30px;
	color: #fff;
	line-height: 32px;
	margin: 0 0 0 5px;
}

.header .profile {
	position: relative;
	left: 30px;
	color: #fff;
	margin: 3px 0;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	text-align: left;
	float: left;
	background-image: linear-gradient(#88aaff 0%, #445599 100%);
	cursor: default;
}

.main-contents {
	margin: 50px 20px 10px;
	z-index: 0;
}

.filter {
	width: 350px;
	margin: 30px auto;
	padding: 10px;
	border: solid 1px #000;
	text-align: center;
}

.filter input, .filter label {
	margin: 5px 0;
}

.login {
	width: 200px;
	margin: 30px auto;
	padding: 10px 10px;
	border: solid 1px #000;
	text-align: center;
}

.login #id {
	margin: 0 0 10px;
}

.login #password {
	margin: 0 0 10px;
}

.login #button {
	margin: 5px 0 0;
}

label {
	display: block;
}

.post {
	margin: 30px 0;
	padding: 10px;
	border: solid 1px #555;
}

.post-title {
	position: relative;
	float: left;
	left: 10px;
}

.post-category {
	position: relative;
	float: right;
	right: 10px;
}

.post-text {
  position: relative; /* 三角の位置を固定するために設定 */
  width: auto; /* 幅 */
  margin: 32px auto 20px; /* 上 左右 下のマージン */
  padding: 10px; /* ふきだし内の余白 */
  background: #fffafa; /* 背景色 */
  border: 1px solid #888; /* 線色 */
  text-align: left; /* テキストの揃え */
  border-radius: 10px;
}
.post-text::before,
.post-text::after { /* 三角 */
  content: '';
  border: 14px solid transparent;
  position: absolute;
  left: 40px;
  margin-left: -14px;
}
.post-text::before { /* 線になる部分 */
  border-top-color: #888; /* 吹き出しの線の色と同じ色 */
  bottom: -28px;
}
.post-text::after { /* 地の部分 */
  border-top-color: #fffafa; /* 吹き出しの背景色と同じ色 */
  bottom: -27px;
}

.post-user {
	margin: 0 10px;
}

.post-date {
	margin: 0 10px;
	font-size: 12px;
}

.delete-post {
	margin: 0 10px;
}

.comments {
	padding: 10px;
}

.comment {
	margin: 0;
	padding: 10px 10px;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

#s_year , #e_year{
	width: 32px;
}

#s_month , #e_month , #s_day , #e_day{
	width: 16px;
}

.comment-text {
  position: relative; /* 三角の位置を固定するために設定 */
  width: auto; /* 幅 */
  margin: 0 auto 20px 40px; /* 上 左右 下のマージン */
  padding: 10px; /* ふきだし内の余白 */
  background: #ffc; /* 背景色 */
  border: 1px solid #888; /* 線色 */
  text-align: left; /* テキストの揃え */
  border-radius: 10px;
}
.comment-text::before,
.comment-text::after { /* 三角 */
  content: '';
  border: 14px solid transparent;
  position: absolute;
  right: 20px;
  margin-left: -14px;
}
.comment-text::before { /* 線になる部分 */
  border-top-color: #888; /* 吹き出しの線の色と同じ色 */
  bottom: -28px;
}
.comment-text::after { /* 地の部分 */
  border-top-color: #ffc; /* 吹き出しの背景色と同じ色 */
  bottom: -27px;
}

.comment-user {
	text-align: right;
}

.comment-date {
	text-align: right;
	font-size: 12px;
}

.delete-comment {
	text-align: right;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
}

table th {
	background-color: #000;
	color: #fff;
}

table th,table td{
  border: solid 1px #000;
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

.new-comment {
	text-align: right;
}

textarea {
	width: 95%;
	padding: 5px;
}

#comment-button {
	margin: 5px 0 0;
}

#edit_user_id {
	border: none;
	background-color: none;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
}